<plugin name='xwiki-rendering' version='0.2' grailsVersion='1.2 &gt; *'>
  <author>Luis Arias</author>
  <authorEmail>luis.arias@pilango.com</authorEmail>
  <title>Provides XWiki Rendering in Grails</title>
  <description>\
The XWiki Rendering Plugin currently provides a xwikiRender gsp tag that allows
you to embed any of the various wiki syntaxes that are supported.  See here to
learn more about the XWiki Rendering Module and its features:

http://code.xwiki.org/xwiki/bin/view/Modules/RenderingModule
</description>
  <documentation>http://grails.org/plugins/xwiki-rendering</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
    <resource>org.groovy.grails.plugins.xwiki.rendering.TestMacro</resource>
    <resource>org.groovy.grails.plugins.xwiki.rendering.RenderingService</resource>
    <resource>org.groovy.grails.plugins.xwiki.rendering.RenderingTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
      <resolver type='mavenRepo' root='http://maven.xwiki.org/releases/' name='http://maven.xwiki.org/releases/' m2compatbile='true' />
      <resolver type='mavenRepo' root='http://maven.xwiki.org/externals/' name='http://maven.xwiki.org/externals/' m2compatbile='true' />
    </resolvers>
    <dependency group='org.xwiki.platform' name='xwiki-core-properties' version='2.0.5' conf='compile' transitive='true'>
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='xml-apis' />
    </dependency>
    <dependency group='org.wikimodel' name='wem' version='2.0.3-20080320' conf='runtime' transitive='true' />
    <dependency group='org.xwiki.platform' name='xwiki-core-rendering-parser-wikimodel' version='2.0.5' conf='compile' transitive='true'>
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='xml-apis' />
    </dependency>
    <dependency group='org.xwiki.platform' name='xwiki-core-component-default' version='2.0.5' conf='compile' transitive='true'>
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='xml-apis' />
    </dependency>
    <dependency group='org.xwiki.platform' name='xwiki-core-rendering-macro-toc' version='2.0.5' conf='runtime' transitive='true'>
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='xml-apis' />
    </dependency>
  </dependencies>
  <behavior />
</plugin>